<div class="header__form">
    <form action="{% url 'registrar_contacto' %}" method="post">
        <h4>Comienza a organizarte con la ayuda del mejor Banco</h4>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <br>
        <div class="form-group">
            <p>Tipo de documento</p>
            {{ form.tipo_documento }}
        </div>
        <div class="form-group">
            <p>Numero de documento</p>
            {{ form.numero_documento }}
        </div>
        <div class="form-group">
            <p>Email</p>
            {{ form.email }}
        </div>
        <div class="form-group">
            <p>Numero de cuenta</p>
            {{ form.nro_cuenta }}
        </div>
        <div class="form-group">
            <p>Nombre</p>
            {{ form.nombre }}
        </div>
        <div class="form-group">
            <p>Apellido</p>
            {{ form.apellido }}
        </div>
        <br>
        {{ error_message }}
        <button class="btn form__btn" type="submit">Solicitar</button>
    </form>
</div>
