{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
    />
    <title>Banco DOCAP</title>
  </head>
  <body>
    <header>
      <nav class="sectionh__container navh__container">
        <div class="nav__logo"><img src="{% static 'main/media/logo.jpeg' %}" alt="Logo">Banco DOCAP</div>
        <ul class="nav__links">
          <li class="link"><a href="#">Cuentas (*)</a></li>
          <li class="link"><a href="#">Tarjetas</a></li>
          <li class="link"><a href="#">Creditos</a></li>
          <li class="link"><a href="#">Sobre Nosotros</a></li>
          <li class="link"><a href="#">Contacto</a></li>
        </ul>
        <button class="btncli">Online Banking</button>
        <button class="btn">Quiero ser Cliente</button>
      </nav>
      <div class="section__container header__container">
        <div class="header__form_registro">
          <form action="{% url 'registro' %}" method="post">
            <h4>Comienza a organizarte con la ayuda del mejor Banco</h4>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
              {{ form.ciudad_id.label_tag }}
              {{ form.ciudad_id }}
            </div>
            <div class="form-group">
              {{ form.nombre.label_tag }}
              {{ form.nombre }}
            </div>
            <div class="form-group">
              {{ form.apellido.label_tag }}
              {{ form.apellido }}
            </div>
            <div class="form-group">
              {{ form.tipo_documento.label_tag }}
              {{ form.tipo_documento }}
            </div>
            <div class="form-group">
              {{ form.numero_documento.label_tag }}
              {{ form.numero_documento }}
            </div>
            <div class="form-group">
              {{ form.direccion.label_tag }}
              {{ form.direccion }}
            </div>
            <div class="form-group">
              {{ form.celular.label_tag }}
              {{ form.celular }}
            </div>
            <div class="form-group">
              {{ form.email.label_tag }}
              {{ form.email }}
            </div>
            <button class="btn form__btn" type="submit">Registrar</button>
          </form>
        </div>
      </div>
    </header>

    <footer class="footer">
      <div class="footer__bar">
        <div class="footer__bar__content">
          <h3 style="color: white;">Contigo en todo momento</h3>
          <div class="footer__socials">
            <a href="#">Contacto</a>
            <a href="#">Política</a>
            <a href="#">Términos</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>