{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'main/media/favicon.ico' %}" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
    />
    <title>Banco DOCAP</title>
  </head>
  <body>
    <header>
      <nav class="sectionh__container navh__container">
        <div class="nav__logo"><img src="{% static 'main/media/logo.png' %}" alt="Logo"></div>
        <div class="nav__logo">Banco DOCAP</div>
        <ul class="nav__links">
          <li class="link">
            <a href="#">Cuentas</a>
            <!--<select id="cuentas-dropdown" class="dropdown">
                <option value="" disabled selected>Selecciona una cuenta</option>
                <option value="cuenta1">Cuenta 1</option>
                <option value="cuenta2">Cuenta 2</option>
                <option value="cuenta3">Cuenta 3</option>
               
            </select>-->
        </li>
          <li class="link"><a href="#">Tarjetas</a></li>
          <li class="link"><a href="#">Creditos</a></li>
          <li class="link"><a href="#">Sobre Nosotros</a></li>
          <li class="link"><a href="#">Contacto</a></li>
        </ul>
        <a href={% url 'iniciar_sesion' %}>
          <button class="btncli">Online Banking</button>
        <a/>
        <a href={% url 'registro' %}>
          <button class="btn">Quiero ser Cliente</button>
        </a>
      </nav>
      <div class="section__container header__container">
        <div class="header__content">
          <h1>Sobre Nosotros</h1>
          <p>
            Somos una entidad financiera dedicada a impulsar tus sueños y metas financieras. 
            Nacimos con la visión de ofrecer soluciones bancarias modernas, accesibles y centradas en el cliente.
             Nuestro enfoque es simple: ponerte a vos, nuestros clientes, en el centro de todo lo que hacemos. 
             Estamos comprometidos en brindarte servicios bancarios ágiles y personalizados para que puedas disfrutar 
             de una experiencia financiera sin complicaciones. En [Nombre del Banco], estamos aquí para ayudarte a prosperar y crecer. 
             Bienvenido a una nueva forma de hacer banca.
          </p>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="footer__bar">
        <div class="footer__bar__content">
          <h3 style="color: white;">Contigo en todo momento</h3>
          <div class="footer__socials">
            <a href="#">Contacto</a>
            <a href="#">Politica</a>
            <a href="#">Terminos</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
