{% extends 'base.html' %}

{% block content %}
    <section class="main">
        <div class="main-top">
            <h1>Registrar Contactos</h1>
            <a href="{% url 'registrar_contacto' %}" class="button-form">Registrar Contacto</a>
        </div>
        <div class="main">
            <div class="contact-list">
                <h2>Contactos Registrados</h2>
                <ul>
                    {% for contacto in contactos %}
                        <li>
                            <strong>{{ contacto.numero_documento }}
                                - {{ contacto.nombre }} {{ contacto.apellido }}</strong><br>
                            Email: {{ contacto.email }}<br>
                            Número de Cuenta: {{ contacto.nro_cuenta }}<br>
                            Tipo de Cuenta: {{ contacto.tipo_cuenta }}
                            Tipo de Moneda: {{ contacto.moneda }}
                        </li>
                    {% empty %}
                        <p>No tienes contactos registrados.</p>
                        <a href="{% url 'registrar_contacto' %}">Registrar Contacto</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock content %}